
body{
	font-family: 'Open Sans', verdana;
	font-size: 14px;
}

#container{
	width: 75%;
	margin: 0 auto;
}
#global{
	border: 1px;
	border-style: solid;
  	border-color: black;
  	border-radius: 3px;
  	margin: 0px 0px 0px 0px;
  	padding: 2px 2px 2px 2px;  	
	}

#painel{
	
	padding: 2px 2px 2px 2px;
	border: 1px;
	margin: 2px 2px 2px 2px;
	color: black;
	border-style: solid;
  	border-color: black;
  	background-color: white;
	}

#anotacoes{
	border: 1px;
	border-style: solid;
  	border-color: black;
	height: 150px;
	margin: 1px 1px 1px 1px;
  	background-color: white;
  	padding: 5px;
  	color: #ff4500;	
	}
	
#observacao{
	border: 1px;
	border-style: solid;
  	border-color: black;
  	margin: 10px 0px 10px 0px;
   	padding: 0px 0px 5px 10px;	
	}	
	
#infocliente{
	border: 1px;
	border-style: solid;
  	border-color: black;
  	margin-top: 5px;
  	padding: 0px 0px 5px 10px;
	}
	
#infoprojeto{
	border: 1px;
	border-style: solid;
  	border-color: black;
  	margin-top: 5px;
  	padding: 0px 0px 5px 10px;
	}	
	
#apontamento{
	border: 1px;
	border-style: solid;
  	border-color: black;
  	margin-top: 5px;
	margin-right: 5px;
  	padding: 0px 0px 5px 10px;
	}		

#atividade{
	border: 1px;
	border-style: solid;
  	border-color: black;
  	margin-top: 5px;
	margin-right: 5px;
  	padding: 0px 0px 5px 10px;
	}		

#tituloprojeto{
	font-size: 20px;
	
	
}

span{
	font-weight: bold;
	}

h5{
	margin-left: 1px;
	margin-top: 1px;
	
	}

h3{
	color:  ;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	Background-color: #ccc;
	padding: 5px;
	border-radius: 3px;
	
	}
	
